.container {
  padding: 0 4rem;
}
.main {
  margin-top: 2vh;
}
.cardd{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cardd>div>i{
  margin-right: 5px;
  font-size: 20px;
  cursor: pointer;
}